* text=auto
.gitattributes text eol=lf

*.md text eol=lf
*.py text eol=lf
*.java text eol=lf
*.xml text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sql text eol=lf
*.sh text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
Makefile text eol=lf

*.ps1 text eol=crlf
